<div class="row shadow p-3 mb-5 bg-white rounded" *ngIf="editMode === true || newMode === true">
    <div class="col custom-form-group">
        <form class="" [formGroup]="questionEditForm" (ngSubmit)="onSubmitForm()">
            <div class="form-group">
              <input type="hidden" name="questionId" formControlName="questionId">
              <h2><label for="question">Enter Question</label></h2>
              <textarea formControlName="question" [ngClass]="{'is-invalid': questionEditForm.get('question').invalid && questionEditForm.get('question').touched}" class="form-control" name="" id="question" rows="5" placeholder="Please Enter Question!s"></textarea>
            </div>
            <button type="button" (click)="addOptions()" class="btn btn-primary">+ Add Options</button>
            <hr>
            <!-- Options -->
            <div class="row" formArrayName="options">
                <small *ngIf="questionEditForm.get('options').hasError('optionError') && questionEditForm.get('options').touched" id="passwordHelpBlock" class="form-text text-danger ml-3">
                    {{questionEditForm.get('options').hasError('countGreater') ? 'Please Select only one option as the answer!' : 'Please select atleast one option as answer'}}
                </small>
                <div class="row ml-1" [formGroupName]="i" *ngFor="let option of options;let i = index">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="option">Option {{i+1}}</label>
                            <input type="hidden" formControlName="optionId">
                            <input type="text" formControlName="optionValue" [ngClass]="{'is-invalid': questionEditForm.get('options.'+i).invalid && questionEditForm.get('options.'+i).touched}" class="form-control" name="" id="option"
                                aria-describedby="helpId" placeholder="Enter Option">
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-check mt-5">
                            <input type="checkbox" formControlName="isAnswer" class="form-check-input" id="optionCheck">
                            <label class="form-check-label" for="optionCheck">Is Answer ?</label>
                        </div>
                    </div>
                    <div class="col-md-2 mt-4">
                        <button type="button" (click)="deleteOption(i)" class="btn btn-outline-danger">Delete</button>
                    </div>
                </div>
            </div>
            <!-- Options End -->
            <div class="col-md-6 offset-md-3 mt-5">
               <button type="submit" [disabled]="questionEditForm.invalid" class="btn btn-outline-primary">Save</button>
               <button type="button" (click)="onFormClear()" class="btn btn-outline-primary ml-2">Clear</button>
               <button type="button" (click)="onFormDelete()" *ngIf="editMode" class="btn btn-outline-primary ml-2">Delete</button>
            </div>
        </form>
    </div>
</div>